/*
Built off of baseline by Pedro Andre: https://codepen.io/pedroo-andre/pen/VwyoZYz
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	min-height: 100vh;
    min-width: 100%;
	justify-content: center;
	align-items: center;
}

.frame {
	width:100%;
    height:100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Liquid Container */
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#001122, #00ffff35);
	overflow: hidden;
}

/* Gooey Wrapper*/
.gooey {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #00000070;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	filter: blur(15px) contrast(30);
}

/* Bubble */
.bubble {
	position: relative;
	width: 100px;
	height: 100px;
	background: #00ffff;
	animation: move 14s ease-in-out infinite alternate;
}

.bubble:nth-child(1) {
    position: absolute;
	left: 0px;
	width: 100%;
	top: 0;
    height: 15px;
	animation: none;
}

.bubble:nth-child(2) {
	position: absolute;
	width: 100%;
    bottom: 0;
    height: 15px;
	animation: none;
}

.bubble:nth-child(3){
    top: 50px;
	left: 10px;
}

.bubble:nth-child(4){
    width: 50px;
	height: 30px;
	left: 50px;
	animation-delay: -2s;
}

.bubble:nth-child(5){
    width: 70px;
	height: 70px;
	left: -70px;
	animation-delay: -3.5s;
}

.bubble:nth-child(6){
    top: 50px;
	left: 400px;
}

.bubble:nth-child(7){
    width: 50px;
	height: 30px;
	left: 450px;
	animation-delay: -2s;
}

.bubble:nth-child(8){
    width: 70px;
	height: 70px;
	left: 330px;
	animation-delay: -3.5s;
}

.bubble:nth-child(9){
    top: 50px;
	left: -400px;
}

.bubble:nth-child(10){
    width: 50px;
	height: 30px;
	left: -350px;
	animation-delay: -2s;
}

.bubble:nth-child(11){
    width: 70px;
	height: 70px;
	left: -470px;
	animation-delay: -3.5s;
}

@keyframes move {
	0% {
		border-radius: 75% 25% 20% 80% / 34% 47% 53% 66%;
		transform: translateY(-60vh);
	}

	100% {
		border-radius: 50%;
		transform: translateY(50vh);
	}
}

/* Glow BG */
.glow {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #5555ff70;
	filter: blur(100px);
	border-radius: 50%;
}